body {
    font-family:Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
}

.navbar {
  /*background: linear-gradient(135deg, #09972c, #eeff00, #e00c0c);*/
  background: rgb(35, 39, 75);
  font-family: Helvetica, sans-serif;
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar .nav-link.active {
  color: #fff; /* cor do texto */
  background: #ff1010; /* fundo */
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.navbar .nav-link:hover {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

.leaflet-container {
  border-radius: 12px;
  border: 2px solid rgb(83,83,83);
}

.value-box-value {
  font-size: 46px !important; /* normalmente é 36px */
}

.value-box-icon {
  font-size: 14px !important; /* default é 48px */
}